@use '../_utils';

header {
  position: sticky;
  top: 0;
  z-index: 1001;
  width: 100%;
  background: linear-gradient(to bottom, var(--bg), transparent);
  padding-bottom: 56px;
  margin-bottom: -56px;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -100vh;
    height: 100vh;
    background: var(--bg);
    z-index: 1;
  }

  @include utils.mobile {
    padding-bottom: 40px;
    margin-bottom: -40px;
  }

  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
    pointer-events: auto;

    @include utils.mobile {
      padding: 20px;
      gap: 20px;
    }
  }

  a {
    display: flex;
    align-items: center;
    border-radius: var(--radius-sm);
    transition: opacity var(--transition-default);

    @include utils.hover {
      opacity: 0.75;
    }

    img {
      width: 128px;
      height: auto;

      @include utils.mobile {
        width: 112px;
      }
    }
  }

  p {
    font-size: var(--text-sm);
    line-height: 1.5;
    color: var(--fg-muted);
    text-align: end;

    br {
      display: none;
    }

    @include utils.mobile {
      br {
        display: initial;
      }
    }
  }
}
