@use '../_utils';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px;
  background-color: var(--surface);
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  text-decoration: none;
  color: var(--fg);
  contain: content;
  transition:
    background-color var(--transition-default),
    border-color var(--transition-default),
    translate var(--transition-default);

  @include utils.hover {
    background-color: var(--surface-hover);
    border-color: var(--border-hover);
    border-radius: var(--radius-lg);
    translate: 0 -2px;

    .card__arrow {
      opacity: 1;
    }
  }

  &__icon {
    @include utils.app-icon(44px);
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    h3 {
      font-size: var(--text-base);
      font-weight: 500;
      margin-bottom: 4px;
    }

    p {
      font-size: var(--text-sm);
      line-height: 1.5;
    }
  }

  &__arrow {
    @include utils.icon('arrow-up-right', var(--text-lg), var(--fg-muted));

    opacity: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity var(--transition-default);
  }
}
