@use '../_utils';

.link {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 14px;
  padding: 14px 0;
  text-decoration: none;
  color: var(--fg);
  transition: color var(--transition-default);

  @include utils.hover {
    color: var(--fg-muted);

    p {
      margin-right: calc(var(--text-base) + 14px);
    }

    .link__arrow {
      opacity: 1;
    }
  }

  h3 {
    font-size: var(--text-base);
    font-weight: 400;
  }

  p {
    font-size: var(--text-sm);
    margin-left: auto;
    transition: opacity var(--transition-default);
    text-align: end;
    transition: margin-right var(--transition-default);
  }

  &__arrow {
    @include utils.icon('arrow-up-right', var(--text-base), var(--fg-muted));

    opacity: 0;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    transition: opacity var(--transition-default);
  }
}
