<footer role="contentinfo">
  <div class="footer__content">
    <p>
      Made with <i class="heart-icon" aria-hidden="true"></i
      ><span class="sr-only sr-only--allow-selection">love</span> in
      <span class="local-time">Lviv, Ukraine</span>
    </p>

    <nav class="footer__links" aria-label="Other links">
      <a
        href="https://linkedin.com/in/dudynets/"
        target="_blank"
        rel="noopener"
        aria-label="LinkedIn (opens in new tab)"
        data-tooltip="LinkedIn"
      >
        <i class="linkedin-icon" aria-hidden="true"></i>
      </a>
    </nav>
  </div>
</footer>
