<section class="websites" aria-labelledby="websites-heading">
  <h2 id="websites-heading">Websites</h2>

  <p>
    Previously, I worked as a freelance developer, building websites for
    businesses. Below is a selection of those projects.
  </p>

  <ul class="websites__list" aria-label="List of client websites">
    <li>
      <a
        class="link"
        href="https://dmitruktattoo.com/?utm_source=dudynets.dev"
        target="_blank"
        rel="noopener"
      >
        <h3>Dmitruk Tattoo</h3>
        <p>Artist portfolio</p>

        <i class="link__arrow" aria-hidden="true"></i>
        <span class="sr-only">(opens in new tab)</span>
      </a>
    </li>

    <li>
      <a
        class="link"
        href="https://tsmgroup.com.ua/?utm_source=dudynets.dev"
        target="_blank"
        rel="noopener"
      >
        <h3>TSM Group</h3>
        <p>Construction</p>

        <i class="link__arrow" aria-hidden="true"></i>
        <span class="sr-only">(opens in new tab)</span>
      </a>
    </li>

    <li>
      <a
        class="link"
        href="https://mark-bud.com.ua/?utm_source=dudynets.dev"
        target="_blank"
        rel="noopener"
      >
        <h3>Mark-Bud</h3>
        <p>Equipment</p>

        <i class="link__arrow" aria-hidden="true"></i>
        <span class="sr-only">(opens in new tab)</span>
      </a>
    </li>

    <li>
      <a
        class="link"
        href="https://paletservice.com.ua/?utm_source=dudynets.dev"
        target="_blank"
        rel="noopener"
      >
        <h3>Palet Service</h3>
        <p>Manufacturing</p>

        <i class="link__arrow" aria-hidden="true"></i>
        <span class="sr-only">(opens in new tab)</span>
      </a>
    </li>

    <li>
      <a
        class="link"
        href="https://dolyakrok.com.ua/?utm_source=dudynets.dev"
        target="_blank"
        rel="noopener"
      >
        <h3>Dolya-Krok</h3>
        <p>Manufacturing</p>

        <i class="link__arrow" aria-hidden="true"></i>
        <span class="sr-only">(opens in new tab)</span>
      </a>
    </li>
  </ul>
</section>
